<div class="container-storage">
    <div class="row">
     <div class="col-2">
    <aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2 position-fixed overflow-auto">
     <!-- Sidebar -->
     <div class="sidebar">
       <!-- Sidebar user (optional) -->
       <div class="user-panel mt-3 pb-3 mb-3 d-flex border-bottom border-white">
         <h1 class="d-flex"> <i class="bi bi-person-circle"></i><a href="/" class="nav-link text-white" >ADMIN</a></h1>
        </div>
       <!-- Sidebar Menu -->
       <nav class="mt-2 ">
         <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item">
             <a href="/admin" class="nav-link text-white">              
               <p>
                 <i class="bi bi-person-vcard-fill "></i> BLOG PROFILE
               </p>
             </a>
           </li>
           <li class="nav-item">
             <a href="/admin/FOUNDER" class="nav-link text-white">
               <p>
                 <i class="bi bi-clipboard2-data-fill"></i> BLOG FOUNDER
               </p>
             </a>
           </li>
           <li class="nav-item">
             <a href="/admin/PURPOSE" class="nav-link text-white">
               <p>
                 <i class="bi bi-grid-3x3-gap"></i> PURPOSE
                 <i class="fas fa-angle-left right"></i>
               </p>
             </a>
               <li class="nav-item">
                 <a href="/admin/POST" class="nav-link text-white">
                   <p><i class="bi bi-kanban"></i> POST</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/INFORUSER" class="nav-link text-white">
                   <p><i class="bi bi-trophy"></i> USER </p>
                 </a>
               </li>
               <li class="nav-item">
                <a href="/admin/ROLE" class="nav-link text-white">
                  <p><i class="bi bi-trophy"></i> ROLE USER </p>
                </a>
              </li>
               <li class="nav-item">
                 <a href="/admin/SOICIAL" class="nav-link text-white">
                   <p><i class="bi bi-people-fill"></i> SOICIAL</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/COMMENT" class="nav-link text-white">
                   <p><i class="bi bi-chat-left-text"></i> COMMENT </p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/CATEGORI" class="nav-link text-white">
                   <p><i class="bi bi-link-45deg"></i> CATEGORIS</p>
                 </a>
               </li>
               <li class="nav-item">
                <a href="/admin/CONTACT" class="nav-link text-white">
                  <p><i class="bi bi-link-45deg"></i> CONTACT</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/logout" class="nav-link text-white">
                  <p><i class="bi bi-box-arrow-left"></i> LOGOUT</p>
                </a>
              </li>
            </div>
         <!-- /.sidebar -->
       </aside>
     </div>
      <!--main-content-->
  </div>